@{
    ViewData["Title"] = "Página Principal";
   }

<div class="text-center">
    
    <h1 class="display-4">Soy Milton Urbina </h1>   <!-- Podemos utilizar metodos de texto en el nombre .toUpper y .toLower-->
    
    <h2>Soy un programador con la meta de ser full stack</h2>
    <img id="foto"
         src="~/Imagenes/Curriculum Milton Urbina_2.jpg" alt="foto de Milton" />
</div>

<div class="text-center">
    <img  id="image-escritorio" 
    src="~/Imagenes/Escritorio_programacion.png" alt="foto escritorio" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
    <h1> Te doy la bienvenida a portafolio</h1>

    <p>
        Soy estudiante de la carrera de Ingeniería en sistemas computacionales dedicó 
        mi tiempo aprendiendo lo básico y avanzado de diferentes lenguajes de programación
        con la meta de ser full stack.
    </p>

    </div>
</div>

<div style="margin-top: -105px">
<div class="row justify-content-md-center text-center">
    <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray";  >
        <i class="bi bi-window-desktop"></i>
        <h3>Desarrollo de aplicaciones</h3>

        <p>
            Trabajo en el desarrollo de aplicaciones en diferentes lenguajes de programacion.
        </p>

        <p class="text-primary cabecera">
            Lenguajes;
        </p>

        <p>
            Python, Java
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>JavaScript</li>
            <li>SQL Server</li>
            <li>Framework Django</li>
            <li>Boostrap</li>
            <li>C#</li>
            <li>Metodo SCRUM</li>
            <li>Metodo de cascacada</li>
        </ul>

    </div>
    <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray";>
        <i class="bi bi-window-desktop"></i>
        <h3>Desarrollo de aplicaciones</h3>

        <p>
            Trabajo en el desarrollo de aplicaciones en diferentes lenguajes de programacion.
        </p>

        <p class="text-primary cabecera">
            Lenguajes;
        </p>

        <p>
            Python, Java
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>JavaScript</li>
            <li>SQL Server</li>
            <li>Framework Django</li>
            <li>Boostrap</li>
            <li>C#</li>
            <li>Metodo SCRUM</li>
            <li>Metodo de cascacada</li>
        </ul>

    </div>
    </div>
</div>